.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 849px;
}

.u-section-1 .u-group-1 {
  width: 740px;
  min-height: 676px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 87px auto 0 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 190px 30px 40px;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 400;
  margin: 77px 0 0;
}

.u-section-1 .u-form-1 {
  width: 510px;
  margin: 20px 0 0;
}

.u-section-1 .u-form-group-1 {
  width: 100%;
}

.u-section-1 .u-form-group-2 {
  width: 100%;
}

.u-section-1 .u-form-group-3 {
  width: 100%;
}

.u-section-1 .u-form-group-4 {
  width: 100%;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
}

.u-section-1 .u-icon-1 {
  height: 365px;
  width: 365px;
  margin: -676px 15px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1208px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 472px;
    margin-left: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 265px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 0;
  }

  .u-section-1 .u-form-1 {
    width: 435px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: -1085px;
    margin-right: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    width: 537px;
    margin-top: 454px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 100px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: -1083px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 509px;
    margin-top: 463px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 30px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: -1081px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 100vh;
  }

  .u-section-1 .u-group-1 {
    margin-top: 460px;
    min-height: 440px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.5rem;
  }

  .u-section-1 .u-form-1 {
    width: 300px;
  }

  .u-section-1 .u-icon-1 {
    height: 320px;
    width: 320px;
    margin-top: -847px;
  }
}