.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 849px;
}

.u-section-1 .u-group-1 {
  width: 740px;
  min-height: 561px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 144px auto 0 -26px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 190px 30px 40px;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 400;
  margin: 27px 0 0;
}

.u-section-1 .u-form-1 {
  width: 510px;
  margin: 20px 1px 0 0;
}

.u-section-1 .u-form-group-1 {
  width: 100%;
}

.u-section-1 .u-form-group-2 {
  width: 100%;
}

.u-section-1 .u-form-group-3 {
  width: 100%;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
}

.u-section-1 .u-text-2 {
  margin: 39px -10px 0 10px;
}

.u-section-1 .u-text-3 {
  margin: 27px -10px 0 10px;
}

.u-section-1 .u-btn-2 {
  padding: 0;
}

.u-section-1 .u-icon-1 {
  height: 370px;
  width: 370px;
  margin: -561px -17px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1155px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 478px;
    margin-left: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 265px;
  }

  .u-section-1 .u-form-1 {
    width: 435px;
    margin-right: 0;
  }

  .u-section-1 .u-icon-1 {
    margin-top: -982px;
    margin-right: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    width: 537px;
    margin-top: 432px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 100px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: -973px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 509px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 30px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1125px;
  }

  .u-section-1 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.5rem;
    margin-top: 0;
  }

  .u-section-1 .u-form-1 {
    width: 300px;
  }

  .u-section-1 .u-icon-1 {
    height: 340px;
    width: 340px;
  }
}