.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 572px;
}

.u-section-1 .u-icon-1 {
  height: 365px;
  width: 365px;
  margin: 87px 27px 0 auto;
}

.u-section-1 .u-group-1 {
  width: 525px;
  min-height: 108px;
  height: auto;
  margin: -274px auto 60px 129px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 30px 29px;
}

.u-section-1 .u-text-1 {
  font-size: 1.125rem;
  margin: 12px 44px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1043px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 53px;
    margin-right: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 826px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 47px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-icon-1 {
    margin-top: 58px;
  }

  .u-section-1 .u-group-1 {
    margin-left: 15px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 48px;
    margin-right: 48px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 100vh;
  }

  .u-section-1 .u-icon-1 {
    height: 320px;
    width: 320px;
    margin-top: 53px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
    margin-top: -249px;
    margin-left: 0;
  }

  .u-section-1 .u-text-1 {
    margin-left: 30px;
    margin-right: 30px;
  }
}