{% extends 'base.html' %}

{% load static %}

{% block title %}
    You logged out
{% endblock title %}

{% block pagecss %}
    {% static 'np/logout.css' %}
{% endblock %}

{% block contet %}
    <section class="u-clearfix u-palette-3-base u-section-1" id="sec-9d7d">
        <div class="u-clearfix u-sheet u-sheet-1">
            <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
                <div class="u-layout">
                    <div class="u-layout-row">
                        <div class="u-align-left u-container-style u-layout-cell u-size-30 u-layout-cell-1">
                            <div class="u-container-layout u-container-layout-1">
                                <img src="{% static 'np/images/juggle.png' %}" alt=""
                                     class="u-image u-image-default u-preserve-proportions u-image-1"
                                     data-image-width="360" data-image-height="360">
                            </div>
                        </div>
                        <div class="u-container-style u-layout-cell u-size-30 u-layout-cell-2">
                            <div class="u-container-layout u-container-layout-2">
                                <h1 class="u-align-center u-text u-text-1">You Logged out</h1>
                                <p class="u-align-center u-text u-text-2"><a href="{% url 'accounts:login' %}">Log back
                                    ?</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock contet %}