{% extends 'base.html' %}
{% load static %}

{% block pagecss %}
    {% static 'np/profile.css' %}
{% endblock pagecss %}

{% block title %}
    Profile - {{ user.username }}
{% endblock title %}

{% block contet %}
    <section class="u-align-left u-clearfix u-palette-3-base u-valign-middle-sm u-section-1" id="carousel_54b1">
        <div class="u-clearfix u-sheet u-sheet-1">
            <div class="u-clearfix u-expanded-width-xs u-layout-wrap u-layout-wrap-1">
                <div class="u-gutter-0 u-layout">
                    <div class="u-layout-row">
                        <div class="u-align-left u-container-style u-image u-layout-cell u-right-cell u-size-31-lg u-size-31-md u-size-31-sm u-size-31-xs u-size-32-xl u-image-1"
                             data-image-width="1200" data-image-height="1200">
                            <div class="u-container-layout u-valign-bottom u-container-layout-1"></div>
                        </div>
                        <div class="u-align-left u-container-style u-layout-cell u-left-cell u-size-28-xl u-size-29-lg u-size-29-md u-size-29-sm u-size-29-xs u-white u-layout-cell-2">
                            <div class="u-container-layout u-valign-bottom-sm u-valign-bottom-xs u-valign-middle-lg u-valign-middle-xl u-container-layout-2">
                                <h2 class="u-align-center u-text u-text-1">Profile<span style="font-size: 3rem;"></span>
                                </h2>
                                <a href="https://nicepage.com/html5-template"
                                   class="u-border-2 u-border-black u-btn u-button-style u-custom-font u-font-oswald u-hover-black u-none u-text-active-black u-text-black u-text-hover-white u-btn-1">Change
                                    Password</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="u-list u-repeater u-list-1">
                <div class="u-align-center u-container-style u-list-item u-repeater-item u-shape-rectangle">
                    <div class="u-container-layout u-similar-container u-valign-bottom-sm u-valign-middle-md u-container-layout-3">
                        <div class="u-align-center u-container-style u-group u-palette-1-base u-radius-10 u-shape-round u-group-1">
                            <div class="u-container-layout u-container-layout-4">
                                <p class="u-align-center-lg u-align-center-md u-align-center-sm u-align-center-xs u-text u-text-2">
                                    {{ user.email }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="u-align-center u-container-style u-list-item u-repeater-item u-shape-rectangle">
                    <div class="u-container-layout u-similar-container u-valign-bottom-sm u-valign-middle-md u-container-layout-5">
                        <div class="u-align-center u-container-style u-group u-palette-1-base u-radius-10 u-shape-round u-group-2">
                            <div class="u-container-layout u-container-layout-6">
                                <p class="u-align-center-lg u-align-center-md u-align-center-sm u-align-center-xs u-text u-text-default u-text-3">
                                    {{ user.username }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="u-align-center u-container-style u-list-item u-repeater-item u-shape-rectangle">
                    <div class="u-container-layout u-similar-container u-valign-bottom-sm u-valign-middle-md u-container-layout-7">
                        <div class="u-align-center u-container-style u-group u-palette-1-base u-radius-10 u-shape-round u-group-3">
                            <div class="u-container-layout u-container-layout-8">
                                <p class="u-align-center-lg u-align-center-md u-align-center-sm u-align-center-xs u-text u-text-default u-text-4">
                                    {{ user.date_joined }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}