{% extends 'base.html' %}
{% load static %}

{% block pagecss %}
    {% static 'np/reg_mail_sent.css' %}
{% endblock pagecss %}

{% block title %}
    Registration mail sent
{% endblock title %}

{% block contet %}


    <section class="u-clearfix u-palette-3-base u-section-1" id="sec-9d7d">
        <div class="u-clearfix u-sheet u-sheet-1">
            <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
                <div class="u-layout">
                    <div class="u-layout-row">
                        <div class="u-container-style u-image u-layout-cell u-size-30 u-image-1" data-image-width="1280"
                             data-image-height="965">
                            <div class="u-container-layout u-container-layout-1"></div>
                        </div>
                        <div class="u-container-style u-layout-cell u-size-30 u-layout-cell-2">
                            <div class="u-container-layout u-valign-middle u-container-layout-2">
                                <h1 class="u-align-center u-text u-text-1">Registration email sent</h1>
                                <p class="u-align-center u-text u-text-2">An email with&nbsp;the confirmation link has
                                    ben
                                    sent to your email address.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock contet %}