{% extends 'base.html' %}
{% load static %}

{% block pagecss %}
    {% static 'np/register.css' %}
{% endblock pagecss %}

{% block title %}
    Register
{% endblock title %}

{% block contet %}

    <section
            class="u-align-center-xs u-align-left-lg u-align-left-md u-align-left-sm u-align-left-xl u-clearfix u-palette-3-base u-section-1"
            id="carousel_7a62">
        <div class="u-clearfix u-sheet u-sheet-1">
            <div class="u-align-center u-container-style u-expanded-width-xs u-group u-white u-group-1">
                <div class="u-container-layout u-container-layout-1">
                    <h2 class="u-custom-font u-font-oswald u-text u-text-1">Register</h2>
                    <div class="u-align-left u-form u-form-1">
                        <form action="" method="POST"
                              class="u-clearfix u-form-custom-backend u-form-spacing-28 u-form-vertical u-inner-form"
                              style="padding: 10px" source="custom" name="form" redirect="true">
                            {% csrf_token %}
                            <div class="u-form-group u-form-name u-form-partition-factor-2 u-form-group-1">
                                {{ form.username }}
                                {{ form.username.errors }}
                            </div>
                            <div class="u-form-group u-form-partition-factor-2 u-form-group-2">
                                {{ form.email }}
                                {{ form.email.errors }}
                            </div>
                            <div class="u-form-group u-form-group-3">
                                {{ form.password1 }}
                            </div>
                            <div class="u-form-group u-form-group-4">
                                {{ form.password2 }}
                                {{ form.password2.errors }}
                            </div>
                            <div class="u-align-left u-form-group u-form-submit u-form-group-5">
                                <a href="#"
                                   class="u-border-2 u-border-black u-btn u-btn-submit u-button-style u-hover-black u-none u-text-black u-text-hover-white u-btn-1">register</a>
                                <input type="submit" value="submit" class="u-form-control-hidden" wfd-invisible="true">
                            </div>
                            <input type="hidden" value="" name="recaptchaResponse" wfd-invisible="true">
                        </form>
                    </div>
                </div>
            </div>
            <span class="u-align-right u-icon u-icon-circle u-text-palette-1-base u-icon-1"><svg class="u-svg-link"
                                                                                                 preserveAspectRatio="xMidYMin slice"
                                                                                                 viewBox="0 0 512 512"
                                                                                                 style=""><use
                    xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-fea8"></use></svg><svg
                    xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
                    xml:space="preserve" class="u-svg-content" viewBox="0 0 512 512" id="svg-fea8"><g><path d="m503.22 186.828-25.041-25.041c-11.697-11.698-30.729-11.696-42.427 0l-52.745 52.745v-169.532c0-24.813-20.187-45-45-45h-293c-24.813 0-45 20.187-45 45v422c0 24.813 20.187 45 45 45h293c24.813 0 45-20.187 45-45v-119.033l120.213-118.712c11.697-11.697 11.697-30.73 0-42.427zm-179.399 177.423-45.122 21.058 21.037-45.078 111.975-111.975 24.757 24.756zm29.186 102.749c0 8.271-6.729 15-15 15h-293c-8.271 0-15-6.729-15-15v-422c0-8.271 6.729-15 15-15h293c8.271 0 15 6.729 15 15v199.532c-83.179 83.179-77.747 77.203-79.34 80.616l-39.598 84.854c-2.667 5.717-1.474 12.49 2.986 16.95 4.46 4.461 11.236 5.653 16.95 2.986l84.854-39.599c3.111-1.452 3.623-2.354 14.148-12.748zm104.806-235.067-24.89-24.89 24.043-24.043 25.033 25.049z"></path><path
                    d="m80.007 127h224c8.284 0 15-6.716 15-15s-6.716-15-15-15h-224c-8.284 0-15 6.716-15 15s6.716 15 15 15z"></path><path
                    d="m80.007 207h176c8.284 0 15-6.716 15-15s-6.716-15-15-15h-176c-8.284 0-15 6.716-15 15s6.716 15 15 15z"></path><path
                    d="m208.007 257h-128c-8.284 0-15 6.716-15 15s6.716 15 15 15h128c8.284 0 15-6.716 15-15s-6.716-15-15-15z"></path>
</g></svg></span>
        </div>
    </section>

{% endblock %}

