/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/


body {
    font-family: "Open Sans", sans-serif;
    background: #FFE4B5;
    color: #fff;
}

a {
    color: black;

}

a:hover {
    color: coral;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Playfair Display", serif;
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    overflow: hidden;
    background: #FFE4B5;
}

#preloader:before {
    content: "";
    position: fixed;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    border: 6px solid #FFE4B5;
    border-top-color: black;
    border-bottom-color: black;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    -webkit-animation: animate-preloader 700ms linear infinite;
    animation: animate-preloader 700ms linear infinite;
}

@-webkit-keyframes animate-preloader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes animate-preloader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
    position: fixed;
    display: none;
    right: 15px;
    bottom: 15px;
    z-index: 995;
}

.back-to-top i {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    width: 44px;
    height: 44px;
    border-radius: 50px;
    color: orangered;
    transition: all 0.4s;
    border: 2px solid orangered;
}

.back-to-top i:hover {
    background: orangered;
    color: black;
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
    [data-aos-delay] {
        transition-delay: 0 !important;
    }
}


/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
    [data-aos-delay] {
        transition-delay: 0 !important;
    }
}

/*--------------------------------------------------------------
# Top Bar
--------------------------------------------------------------*/
#topbar {
    height: 40px;
    font-size: 14px;
    transition: all 0.5s;
}

#topbar.topbar-scrolled {
    top: -40px;
}

#topbar .contact-info {
    color: white;
}

#topbar .contact-info i {
    color: #d9ba85;
    padding-right: 4px;
}

#topbar .contact-info i + i {
    margin-left: 15px;
}

#topbar .languages ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
    color: #cda45e;
}

#topbar .languages ul a {
    color: white;
}

#topbar .languages ul li + li {
    padding-left: 10px;
}

#topbar .languages ul li + li::before {
    display: inline-block;
    padding-right: 10px;
    color: rgba(255, 255, 255, 0.5);
    content: "/";
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
    background: rgba(12, 11, 9, 0.6);
    border-bottom: 1px solid rgba(12, 11, 9, 0.6);
    transition: all 0.5s;
    z-index: 997;
    padding: 15px 0;
    top: 40px;
}

#header.header-scrolled {
    top: 0;
    background: rgba(0, 0, 0, 0.85);
    border-bottom: 1px solid #37332a;
}

#header .logo {
    font-size: 60px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: "Playfair Display", serif;
}

#header .logo a {
    color: #FFE4B5;
}

#header .logo img {
    max-height: 40px;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
.nav-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-menu > ul {
    display: flex;
    align-items: center;
}

.nav-menu > ul > li {
    position: relative;
    white-space: nowrap;
    padding-left: 28px;
}

.nav-menu a {
    display: block;
    position: relative;
    color: #FFE4B5;
    transition: 0.3s;
    font-size: 24px;
    font-family: "Playfair Display", serif;
    font-weight: 500;

}

.nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a {
    color: whitesmoke;
}

.nav-menu .book-a-table a {
    border: 2px solid #cda45e;
    color: #fff;
    border-radius: 50px;
    padding: 8px 25px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 1px;
    transition: 0.3s;
}

.nav-menu .book-a-table a:hover {
    background: #cda45e;
    color: #fff;
}

.nav-menu .drop-down ul {
    display: block;
    position: absolute;
    left: 15px;
    top: calc(100% + 30px);
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    padding: 10px 0;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
}

.nav-menu .drop-down:hover > ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
}

.nav-menu .drop-down li {
    min-width: 180px;
    position: relative;
}

.nav-menu .drop-down ul a {
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 500;
    text-transform: none;
    color: #1a1814;
}

.nav-menu .drop-down ul a:hover, .nav-menu .drop-down ul .active > a, .nav-menu .drop-down ul li:hover > a {
    color: #cda45e;
}

.nav-menu .drop-down > a:after {
    content: "\ea99";
    font-family: IcoFont;
    padding-left: 5px;
}

.nav-menu .drop-down .drop-down ul {
    top: 0;
    left: calc(100% - 30px);
}

.nav-menu .drop-down .drop-down:hover > ul {
    opacity: 1;
    top: 0;
    left: 100%;
}

.nav-menu .drop-down .drop-down > a {
    padding-right: 35px;
}

.nav-menu .drop-down .drop-down > a:after {
    content: "\eaa0";
    font-family: IcoFont;
    position: absolute;
    right: 15px;
}

@media (max-width: 1366px) {
    .nav-menu .drop-down .drop-down ul {
        left: -90%;
    }

    .nav-menu .drop-down .drop-down:hover > ul {
        left: -100%;
    }

    .nav-menu .drop-down .drop-down > a:after {
        content: "\ea9d";
    }
}

/* Mobile Navigation */
.mobile-nav-toggle {
    position: absolute;
    right: 15px;
    top: 15px;
    z-index: 9998;
    border: 0;
    background: none;
    font-size: 24px;
    transition: all 0.4s;
    outline: none !important;
    line-height: 1;
    cursor: pointer;
    text-align: right;
}

.mobile-nav-toggle i {
    color: #fff;
}

.mobile-nav {
    position: fixed;
    top: 15px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    z-index: 9999;
    overflow-y: auto;
    background: #1a1814;
    border: 2px solid rgba(255, 255, 255, 0.1);
    transition: ease-in-out 0.2s;
    opacity: 0;
    visibility: hidden;
    border-radius: 10px;
    padding: 10px 0;
}

.mobile-nav * {
    margin: 0;
    padding: 0;
    list-style: none;
}

.mobile-nav .mobile-nav-close {
    margin: 0 15px 0 auto;
    display: block;
    border: 0;
    background: none;
    font-size: 24px;
    transition: all 0.4s;
    outline: none !important;
    line-height: 1;
    cursor: pointer;
    text-align: right;
    color: rgba(255, 255, 255, 0.5);
}

.mobile-nav .mobile-nav-close:hover {
    color: #fff;
}

.mobile-nav a {
    display: block;
    position: relative;
    color: #fff;
    padding: 10px 20px;
    font-weight: 500;
    outline: none;
    transition: 0.3s;
}

.mobile-nav a:hover, .mobile-nav .active > a, .mobile-nav li:hover > a {
    color: #cda45e;
    text-decoration: none;
}

.mobile-nav .drop-down > a:after {
    content: "\ea99";
    font-family: IcoFont;
    padding-left: 10px;
    position: absolute;
    right: 15px;
}

.mobile-nav .active.drop-down > a:after {
    content: "\eaa1";
}

.mobile-nav .book-a-table a {
    color: #fff;
    border: 2px solid #cda45e;
    border-radius: 50px;
    margin: 20px 0 0 0;
    padding: 10px 25px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 1px;
    transition: 0.3s;
    display: inline-block;
}

.mobile-nav .book-a-table a:hover {
    background: #cda45e;
    color: #fff;
}

.mobile-nav .drop-down > a {
    padding-right: 35px;
}

.mobile-nav .drop-down ul {
    display: none;
    overflow: hidden;
}

.mobile-nav .drop-down li {
    padding-left: 20px;
}

.mobile-nav-overly {
    width: 100%;
    height: 100%;
    z-index: 9997;
    top: 0;
    left: 0;
    position: fixed;
    background: rgba(0, 0, 0, 0.6);
    overflow: hidden;
    display: none;
    transition: ease-in-out 0.2s;
}

.mobile-nav-active {
    overflow: hidden;
}

.mobile-nav-active .mobile-nav {
    opacity: 1;
    visibility: visible;
}

.mobile-nav-active .mobile-nav-toggle i {
    color: #fff;
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
    padding: 60px 0;
    overflow: hidden;
}

.section-bg {
    background-color: #1a1814;
}

.section-title {
    padding-bottom: 40px;
    margin-top: 30px;
}

.section-title h2 {
    font-size: 25px;
    font-weight: 500;
    padding: 0;
    line-height: 1px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: black;
    font-family: "Poppins", sans-serif;
    text-decoration: underline;
    display: contents;
    word-wrap: anywhere;
}

.section-title h2 a {
    font-size: 20px;
}

.section-title h2::after {
    content: "";
    width: 120px;
    height: 1px;
    display: inline-block;
    background: rgba(255, 255, 255, 0.2);
    margin: 4px 10px;
}

.section-title p {
    margin: 0;
    margin-top: 15px;
    font-size: 25px;
    font-weight: 600;
    font-family: "Playfair Display", serif;
    text-align: center;
    color: #6a511e;
    border-radius: 30px;
}


/*IF YOU ADD A PAGE PART ADD CSS TOO ############################*/


/*--------------------------------------------------------------
# Menu Section
--------------------------------------------------------------*/

.menu {
    background-color: #FFE4B5;

}

.menu #menu-flters {
    padding: 0;
    margin: 0 auto 0 auto;
    list-style: none;
    text-align: center;
    border-radius: 50px;

}

.menu #menu-flters li {
    cursor: pointer;
    display: inline-block;
    padding: 8px 12px 10px 12px;
    font-size: 24px;
    font-weight: 500;
    line-height: 1;
    color: black;
    margin-bottom: 10px;
    transition: all ease-in-out 0.3s;
    border-radius: 50px;
    font-family: "Playfair Display", serif;
}

.menu #menu-flters li:hover, .menu #menu-flters li.filter-active {
    color: orangered;
}

.menu #menu-flters li:last-child {
    margin-right: 0;
}

.menu .menu-item {
    margin-top: 50px;
}

.menu .menu-img {
    width: 70px;
    border-radius: 50%;
    float: left;
    border: none;
}

.menu .menu-content {
    margin-left: 85px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.menu .menu-content::after {
    content: "......................................................................" "...................................................................." "....................................................................";
    position: absolute;
    left: 1px;
    right: 0;
    z-index: 1;
    color: black;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.menu .menu-content a {
    padding-right: 10px;
    background: #FFE4B5;
    position: relative;
    z-index: 3;
    font-weight: 700;
    color: black;
    transition: 0.3s;
    font-family: "Playfair Display", sans-serif;
    font-size: 17px;
}

.menu .menu-content a:hover {
    color: #6a511e;
}

.menu .menu-content span {
    background: #FFE4B5;
    position: relative;
    z-index: 3;
    padding: 0 10px;
    font-weight: 600;
    color: black;

}

.menu .menu-ingredients {
    margin-left: 85px;
    font-style: italic;
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    color: #6a511e;
}


/*ADD TO TAY BUTTON*/
#add-to-tray {
    background: #6a511e;
    border: 0;
    padding: 10px 35px;
    color: #FFE4B5;
    font-weight: 600;
    transition: 0.4s;
    border-radius: 50px;
    margin-left: 15px;
    margin-top: 5px;
    width: 230px;
    font-family: "Playfair Display", sans-serif;

}

#add-to-tray:hover {
    background: orangered;
}

#add-to-tray:focus {
    outline: none;
}

#redirect_button {
    background: orangered;
    border: 0;
    padding: 10px 35px;
    color: #FFE4B5;
    font-weight: 600;
    transition: 0.4s;
    border-radius: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 230px;
    font-family: "Playfair Display", sans-serif;
    font-size: 20px;

}

#redirect_button:hover {
    background: green;
}

#redirect_button:focus {
    outline: none;
}

.simulation {
    margin-top: 7px


}

.simulation-button {
    background: #FFE4B5;
!important;
    color: orangered;
!important;
}

/*ABOUT #######################################*/

.breadcrumbs {
    padding: 15px 0;
    background: #1d1b16;
    margin-top: 110px;
}

@media (max-width: 992px) {
    .breadcrumbs {
        margin-top: 98px;
    }
}

.breadcrumbs h2 {
    font-size: 26px;
    font-weight: 300;
}

.breadcrumbs ol {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 14px;
}

.breadcrumbs ol li + li {
    padding-left: 10px;
}

.breadcrumbs ol li + li::before {
    display: inline-block;
    padding-right: 10px;
    color: #37332a;
    content: "/";
}

@media (max-width: 768px) {
    .breadcrumbs .d-flex {
        display: block !important;
    }

    .breadcrumbs ol {
        display: block;
    }

    .breadcrumbs ol li {
        display: inline-block;
    }
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about {
    background-color: #FFE4B5;
    background-size: cover;
    position: relative;
    padding: 80px 0;
}


.about .about-img {
    position: relative;
    transition: .5s;
    margin: 5px;
}

.about .about-img img {
    max-width: 100%;
    border: 4px solid rgba(255, 255, 255, 0.2);
    position: relative;
}

.about .about-img::before {
    position: absolute;
    left: 20px;
    top: 20px;
    width: 60px;
    height: 60px;
    z-index: 1;
    content: '';
    border-left: 5px solid #cda45e;
    border-top: 5px solid #cda45e;
    transition: .5s;
}

.about .about-img::after {
    position: absolute;
    right: 20px;
    bottom: 20px;
    width: 60px;
    height: 60px;
    z-index: 2;
    content: '';
    border-right: 5px solid #cda45e;
    border-bottom: 5px solid #cda45e;
    transition: .5s;
}

.about .about-img:hover {
    transform: scale(1.03);
}

.about .about-img:hover::before {
    left: 10px;
    top: 10px;
}

.about .about-img:hover::after {
    right: 10px;
    bottom: 10px;
}

.about .content h3 {
    font-weight: 600;
    font-size: 26px;
    word-wrap: anywhere;
    text-align: center;
    color: black;
    margin-top: 5px;

}

.about .content p {
    font-family: "Playfair Display", sans-serif;
    font-size: 1.4em;
    color: black;
    word-wrap: anywhere;
    text-align: center;
    padding: 20px;


}

.about .content ul {
    list-style: none;
    padding: 0;
}

.about .content ul li {
    padding-bottom: 10px;
}

.about .content ul i {
    font-size: 20px;
    padding-right: 4px;
    color: #cda45e;
}

.about .content p:last-child {
    margin-bottom: 0;
}

@media (min-width: 1024px) {
    .about {
        background-attachment: fixed;
    }
}

/*--------------------------------------------------------------
# Gallery
--------------------------------------------------------------*/

#gallery {
    background-color: black;
    padding: 25px;
}

#gallery h2 {
    color: whitesmoke;
}

#gallery p {
    color: whitesmoke;
}

.gallery p::after {
    content: "";
    width: 120px;
    height: 1px;
    display: inline-block;
    background: rgba(255, 255, 255, 0.2);
    margin: 4px 10px;
}


.gallery .gallery-item {
    overflow: hidden;
    border: 5px solid #2b200d;
    border-radius: 10px;
    margin: 5px;
    height: 300px;
    width: auto;

}

.gallery .gallery-item img {
    transition: all ease-in-out 0.4s;
}

.gallery .gallery-item:hover img {
    transform: scale(1.1);
}

.bigbox {
    box-shadow: 5px 5px 10px 5px rgba(80, 0, 0, 0.15);
    border-radius: 50px;
    margin: 5px;
    background: #FFE4B5; !important;

}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-arrow {
    position: fixed;
    display: none;
    left: 15px;
    bottom: 15px;
    z-index: 995;
}

.back-arrow i {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    width: 44px;
    height: 44px;
    border-radius: 50px;
    color: orangered;
    transition: all 0.4s;
    border: 2px solid orangered;
}

.back-arrow i:hover {
    background: orangered;
    color: black;
}