{% extends 'base.html' %}
{% block content %}
    <section class="u-clearfix u-image u-section-1" id="carousel_3752" data-image-width="1280" data-image-height="854">
        <div class="u-clearfix u-sheet u-sheet-1">
            <div class="u-container-style u-expanded-width-xs u-group u-white u-group-1">
                <div class="u-container-layout u-valign-middle u-container-layout-1">
                    <h2 class="u-align-center u-text u-text-1">Your own Menu</h2>
                </div>
            </div>
            <div class="u-container-style u-group u-palette-3-base u-group-2">
                <div class="u-container-layout u-valign-middle u-container-layout-2">
                    <h2 class="u-align-center u-text u-text-2">IN minutes !<br>
                    </h2>
                </div>
            </div>
        </div>
    </section>
    <section
            class="u-align-center-lg u-align-center-md u-align-center-xl u-align-left-sm u-align-left-xs u-clearfix u-white u-section-2"
            id="carousel_ee1e">
        <div class="u-clearfix u-sheet u-valign-middle-lg u-sheet-1">
            <div class="u-align-center-lg u-align-center-md u-align-center-sm u-align-center-xs u-border-no-bottom u-border-no-left u-border-no-right u-border-no-top u-expanded-width-sm u-expanded-width-xs u-palette-2-dark-1 u-shape u-shape-rectangle u-shape-1"></div>
            <div class="u-clearfix u-expanded-width-lg u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-layout-wrap u-layout-wrap-1">
                <div class="u-layout">
                    <div class="u-layout-row">
                        <div class="u-align-left u-container-style u-layout-cell u-left-cell u-shape-rectangle u-size-33-lg u-size-33-md u-size-33-sm u-size-33-xs u-size-34-xl u-layout-cell-1">
                            <div class="u-container-layout u-valign-middle-md u-valign-middle-sm u-valign-middle-xs u-container-layout-1">
                                <div class="u-align-center u-border-2 u-border-black u-container-style u-group u-shape-rectangle u-white u-group-1">
                                    <div class="u-container-layout u-valign-middle-md u-valign-middle-sm u-valign-middle-xs u-container-layout-2">
                                        <h2 class="u-text u-text-1">Fast and easy</h2>
                                        <p class="u-text u-text-2">Design and share your own menu in minutes.<br>
                                            <br>Share it via QR code.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="u-align-center-md u-align-center-sm u-align-center-xs u-align-left-lg u-container-style u-image u-layout-cell u-right-cell u-size-26-xl u-size-27-lg u-size-27-md u-size-27-sm u-size-27-xs u-image-1"
                             data-image-width="1280" data-image-height="733">
                            <div class="u-container-layout u-valign-middle-md u-valign-middle-sm u-valign-middle-xs u-container-layout-3"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="u-clearfix u-white u-section-3" id="carousel_401c">
        <div class="u-clearfix u-sheet u-sheet-1">
            <div class="u-clearfix u-expanded-width u-gutter-30 u-layout-wrap u-layout-wrap-1">
                <div class="u-layout">
                    <div class="u-layout-row">
                        <div class="u-align-left u-container-style u-layout-cell u-left-cell u-size-15 u-size-30-md u-layout-cell-1"
                             src="">
                            <div class="u-container-layout u-valign-middle" src="">
                                <img class="u-image u-image-1"
                                     src="../../../static/np/images/adca881b7b5dcab2107050dd0ecbb265ebe91194242bb3be13190e75f6bd95f2b439efd684a66b3626bd131dcb547466b4690e9836e28c5af466f7_1280.png"
                                     data-image-width="675" data-image-height="1280">
                            </div>
                        </div>
                        <div class="u-align-center-lg u-align-center-md u-align-center-sm u-align-center-xs u-align-left-xl u-container-style u-layout-cell u-size-15 u-size-30-md u-white u-layout-cell-2">
                            <div class="u-border-6 u-border-black u-container-layout u-container-layout-2">
                                <h4 class="u-custom-font u-heading-font u-text u-text-1">1. Register</h4>
                                <p class="u-text u-text-2">After registering an account you will be able to create,
                                    modify
                                    and share menues..</p>
                            </div>
                        </div>
                        <div class="u-align-left u-container-style u-layout-cell u-size-15 u-size-30-md u-layout-cell-3"
                             src="">
                            <div class="u-container-layout u-valign-middle" src=""><span
                                    class="u-align-center u-icon u-icon-circle u-text-palette-3-base u-icon-1"><svg
                                    class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 512 512"
                                    style=""><use
                                    xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-3deb"></use></svg><svg
                                    xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                    version="1.1" xml:space="preserve" class="u-svg-content" viewBox="0 0 512 512"
                                    x="0px"
                                    y="0px" id="svg-3deb" style="enable-background:new 0 0 512 512;"><path style="fill:#092A40;" d="M512,307.261V204.739l-39.919-11.604c-4.588-15.803-10.901-31.037-18.842-45.466l20.027-36.442  l-72.493-72.494L364.33,58.761c-14.43-7.941-29.663-14.254-45.466-18.843L307.261,0H256L136,256l120,256h51.261l11.604-39.918  c15.803-4.588,31.036-10.902,45.467-18.843l36.442,20.026l72.493-72.493L453.24,364.33c7.941-14.429,14.254-29.663,18.842-45.466  L512,307.261z"></path><path
                                    style="fill:#235C81;"
                                    d="M204.739,0l-11.604,39.918C177.333,44.506,162.1,50.82,147.67,58.761l-36.443-20.027l-72.493,72.494  l20.027,36.442c-7.94,14.43-14.254,29.664-18.843,45.466L0,204.74v102.521l39.918,11.604c4.588,15.802,10.902,31.036,18.843,45.466  l-20.027,36.442l72.493,72.493l36.442-20.026c14.431,7.941,29.664,14.254,45.467,18.843L204.739,512H256V0H204.739z"></path><g><path style="fill:#5A7587;" d="M256,76L153.885,256l177.119,163.62C392.915,391.127,436,328.5,436,256   C436,156.748,355.252,76,256,76z"></path><path
                                    style="fill:#5A7587;"
                                    d="M256,76c-99.252,0-180,80.748-180,180c0,72.501,43.086,135.128,104.997,163.62H256V76z"></path>
</g><path style="fill:#FFCE47;"
          d="M396,256c0-77.196-62.804-140-140-140l-79.423,140L256,396C333.196,396,396,333.196,396,256z"></path><path
                                    style="fill:#FFE290;"
                                    d="M256,116c-77.196,0-140,62.804-140,140s62.804,140,140,140V116z"></path><polygon
                                    style="fill:#092A40;" points="290.286,211.757 256,151.757 226,256.757 "></polygon><polygon
                                    style="fill:#235C81;" points="256,151.757 221.715,211.757 256,256.757 "></polygon><polygon
                                    style="fill:#FFF5D9;"
                                    points="211,328.008 331,283.007 290.286,211.757 256,211.757 "></polygon><polygon
                                    style="fill:#FFFFFF;"
                                    points="256,211.757 221.715,211.757 181,283.008 256,328.008 "></polygon><path
                                    style="fill:#45A2E0;"
                                    d="M212.823,359.504L256,436c26.752,0,52.155-5.875,75-16.389V283.007h-75L212.823,359.504z"></path><path
                                    style="fill:#4EB9FF;"
                                    d="M181,283.008v136.603C203.845,430.125,229.248,436,256,436V283.008H181z"></path></svg></span>
                            </div>
                        </div>
                        <div class="u-align-center-lg u-align-center-md u-align-center-sm u-align-center-xs u-align-left-xl u-container-style u-layout-cell u-right-cell u-size-15 u-size-30-md u-white u-layout-cell-4">
                            <div class="u-border-6 u-border-black u-container-layout u-valign-bottom-sm u-valign-bottom-xs u-container-layout-4">
                                <h4 class="u-custom-font u-heading-font u-text u-text-3">2. Create</h4>
                                <p class="u-text u-text-4">Create your own personalized menu.<br>Edit your menu anytime,
                                    with one click.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="u-clearfix u-image u-section-4" id="carousel_4628" data-image-width="1280" data-image-height="775">
        <div class="u-clearfix u-sheet u-sheet-1">
            <h2 class="u-text u-text-1">3. Share</h2>
            <p class="u-text u-text-2">Every created menu has a unique QR code.&nbsp;</p>
        </div>
    </section>
    <section class="u-align-center u-clearfix u-section-5" id="carousel_697f">
        <div class="u-clearfix u-sheet u-sheet-1">
            <div class="u-align-center u-container-style u-expanded-width u-group u-palette-3-base u-group-1">
                <div class="u-container-layout u-container-layout-1"></div>
            </div>
            <div class="u-clearfix u-gutter-20 u-layout-wrap u-layout-wrap-1">
                <div class="u-layout">
                    <div class="u-layout-row">
                        <div class="u-container-style u-image u-layout-cell u-left-cell u-size-30 u-image-1">
                            <div class="u-container-layout u-valign-middle u-container-layout-2"></div>
                        </div>
                        <div class="u-container-style u-image u-layout-cell u-right-cell u-size-30 u-image-2"
                             data-image-width="1280" data-image-height="849">
                            <div class="u-container-layout u-valign-middle u-container-layout-3"></div>
                        </div>
                    </div>
                </div>
            </div>
            <h2 class="u-text u-text-1">Create your own products</h2>
            <p class="u-text u-text-2">Create a category, create a product, add the product to the category.<br>You're
                done.<br>It's
                so easy, you could do it with your eyes closed.
            </p>
            <a href="{% url 'pages:main_menu' %}" class="u-black u-btn u-button-style u-btn-1">Let's go</a>
        </div>
    </section>
{% endblock content %}


